* {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100vh); /*铺满屏幕很重要*/
}
/*primary*/
.primary, .secondary {
    overflow: hidden;
    position: relative;
    height: 100%;
    /*
    float: left;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    */
}
.primary {
    width: 100px;
    background: #1d2531;
    z-index: 1;
}
.index_top li {
    padding-top: 20px;
    text-align: center;
}
.index_bottom {
    position: absolute;
    left: 25px;
    bottom: 10px;/*20px*/
}
/*secondary*/
.secondary {
    width: 250px;
    background: #222c3c;
}
.banner {
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid #5b6779;
}
.banner p {
    position: relative;
    margin-top: 20px;/*35px*/
    margin-bottom: 18px;/*30px*/
    font: 12px/1 "Microsoft YaHei", sans-serif;
    color: #5b6779;
}
.content li {
    position: relative;
    margin-bottom: 15px;/*25px*/
    font: 13px/1 "Microsoft YaHei", sans-serif;/*14px*/
    color: #b7c0cd;
}
.index_r, .search_icon, .user_table {
    /*实现图片在父元素垂直居中*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.index_l {
    vertical-align: top;
    margin-right: 10px;
}
.sec_active:link, .sec_active:visited {
    text-decoration: none;
    color: #b7c0cd;
}
.sec_active:hover, .sec_active:active {
    position: relative;
    color: #fff;
}
.index_bottom li {
    display: inline;
    padding-right: 15px;
    font: 13px/1 "Microsoft YaHei", sans-serif;/*14px*/
    color: #fff;
}
.dot {
    position: absolute;
    left: -31px;
    top: 30%;
}
/*main*/
.main {
    overflow: hidden;
    width: calc(100% - 100px - 250px);
    height: 100%;
}
/*message*/
.message {
    position: relative;
    padding-left: 30px;
    width: calc(100% - 30px);
    height: 75px;/*80px*/
    font: 24px/75px "Microsoft YaHei",sans-serif;/*80px*/
    border-bottom: 1px solid #e6e9ec;
}
.user_table {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user_name {
    font: bold 16px/1 "Microsoft YaHei",sans-serif;
    color: #2399f1;
}
.v {
    margin-left: 25px;
    margin-right: 25px;
}
/*chat*/
.chat {
    float: left;
    overflow: hidden;
    width: 400px;
    height: calc(100% - 76px);/*81px*/
}
.search {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;/*70px*/
    color: #9fa9ba;
    border-bottom: 1px solid #e6e9ec;
}
.search_icon {
    padding-right: 40px;
}
.search form>input {
    height: 58px;/*68px*/
    width: 250px;
    border: none;
    font: 14px/58px "Microsoft YaHei",sans-serif;/*68px*/
}
.box {
    overflow: hidden;
    width: 100%;
    height: calc(100% - 60px);
}
.scroll {
    /*滚动条*/
    overflow-x: hidden;
    overflow-y: auto;
    /*隐藏滚动条，其width：16px*/
    margin-right: -16px;
    width: calc(100% + 16px);
    height: 100%;/*81px*/
}
.person_active, .person {
    padding-bottom: 20px;
    height: 110px;
    border-bottom: 1px solid #e6e9ec;
}
.person_active {
    border-left: 3px solid #2399f1;
}
.table {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px 0 30px;
}
.face {
    margin-right: 25px;
}
.item {
    flex: 1;
    vertical-align: middle;
}
.name_a {
    padding-left: 15px;
    padding-right: 8px;
    font: bold 16px/1 "Microsoft YaHei",sans-serif;
    color: #2399f1;
    background: url(images/blue_dot.png) no-repeat center left;
}
.name {
    padding-right: 8px;
    font: 16px/1 "Microsoft YaHei",sans-serif;
    color: #111;
}
.avator {
    font: 13px/19px "Microsoft YaHei",sans-serif;
    color: #b5b5b5;
}
.abstract {
    font: 12.5px/19px "Microsoft YaHei",sans-serif;
    color: #585d68;
}
.dist_r {
    font: 14px/1 "Microsoft YaHei",sans-serif;
    color: #7f8fa4;
}
/*detail*/
.detail {
    float: right;
    overflow: hidden;
    width: calc(100% - 402px);
    height: calc(100% - 76px);
    border-left: 1px solid #e6e9ec;
}
.profile {
    position: relative;
    padding-left: 30px;
    padding-right: 20px;
    height: 60px;/*70px*/
    font: 18px/60px "Microsoft YaHei",sans-serif;
    border-bottom: 1px solid #e6e9ec;
}
.profile li, .profile a {
    display: block;
    height: 33px;
}
#me, #upload, #trash, #arrow_l, #arrow_r {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#me {
    right: 244px;
    width: 37px;
    background: url(images/tool.png) 0 0;
}
#upload {
    right: 207px;
    width: 37px;
    background: url(images/tool.png) -37px 0;
}
#trash {
    right: 170px;
    width: 37px;
    background: url(images/tool.png) -74px 0;
}
#number {
    position: absolute;
    right: 105px;
    top: 0;
    font: 14px/60px "Microsoft YaHei",sans-serif;
    color: #56688a;
}
#arrow_l {
    right: 57px;
    width: 37px;
    background: url(images/arrow.png) 0 0;
}
#arrow_r {
    right: 20px;
    width: 37px;
    background: url(images/arrow.png) -37px 0;
}
.openchat {
    position: relative;
}
.chatbox {
    display: flex;
    align-items: flex-start;
    padding: 15px 35px 0 25px;
}
.talk {
    flex: 1;
}
.talk>.abstract{
    margin-top: 6px;
}
.text {
    display: flex;
    align-items: center;
}
.div_txt {
    position: absolute;
    bottom: -7px;
    left: 50%;
    padding: 0 15px;
    margin: 0 auto;
    font: 14px/19px "Microsoft YaHei",sans-serif;
    background: #fff;
}
.divider1 {
    padding-bottom: 20px;
    color: #7f8fa4;
    border-bottom: 1px solid #9fa9ba;;
}
.photo {
    position: relative;
    margin: 15px 12px 0 0;
    width: 157px;
    height: 100px;
}
.p_hover {
    display: none;
    text-align: center;/*图片水平居中*/
}
.p_hover img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.photo:hover .p_hover {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
}
.divider2 {
    padding-bottom: 20px;
    color: #2399f1;
    border-bottom: 1px solid #2399f1;
}
.add {
    display: flex;
    margin: 15px 35px 20px 25px;
    align-items: center;
    border-top: 1px solid #e6e9ec;
    border-bottom: 1px solid #e6e9ec;
}