.intro {
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
    font-family: "Microsoft YaHei", serif;
    /*background-image: url(../image/background.jpg);
    background-position: 100% 100%;
    background-repeat: repeat-y;*/
    border: 1px solid black;
    /*max-width: 400px;*/
}
.head {
    float: left;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
    width: 200px;
    vertical-align: middle;
    text-align: center;
    text-shadow: 2px 2px 1px #ccc;
    font: 35px/1.6 "Microsoft YaHei", sans-serif;
    background-color: #6495ed;
    color: #fff;
}
.all {
    float: right;
    width: 600px;
    border-bottom: 1px dashed #6495ed;
}
.title {
    padding-left: 5px;
    font: bold 20px/1.6 "Microsoft YaHei", sans-serif;
}
.content {padding-left: 10px;}
.hor, .hor_p {
    display: inline-block;
}
.hor_p {
    margin-right: 10px;
    text-indent: 0;
}
/*ul li {
    list-style-image: url(../image/1.jpg);
    width: 2px;
    height: 2px;
}*/
h4 {font: bold 15px/1 "Times New Roman",sans-serif ;}
p {text-indent: 2em;}
a:link, a:visited {
    color: #48368e;
    text-decoration: none;
}
a:hover, a:active {color: #cccccc;}
.bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    background: #0ff;
}